<% require 'booking_helper' %>
<div class="plane">
<%unless @booking.row_number.present? && @booking.seat_number.present?%>
  <div class="cockpit">
    <h1>Please select a seat</h1>
  </div>
  <div class="exit exit--front fuselage">
  </div>
  <% @seats.each do |cabin| %>
    <ol class="cabin fuselage">
      <% cabin.seats_in_rows.times do |row_number| %>
        <li class="row row--1">
          <ol class="seats" type=<%= row_number.to_s %>>
        <% cabin.seats_in_rows.times do |index| %>
            <li class="seat">
              <input <%="disabled" if @booking.seat_type != cabin.seat_type %> <%="checked" if is_booked?(@flight.id,cabin.seat_type,row_number,index) %> type="checkbox" data-row=<%=row_number%> data-seat=<%=index%> id=<%= cabin.seat_type[0] + "" + row_number.to_s + "" + index.to_s %> />
          <label for=<%= cabin.seat_type[0] + "" + row_number.to_s + "" + index.to_s %>><%= cabin.seat_type[0] + "" + row_number.to_s + "" + index.to_s %></label>
        </li>
      <% end %>
    </ol>
  </li>
<% end %>
</ol>
<% end %>
<div class="exit exit--back fuselage">
</div>
<input type="submit" value="Confirm Booking" id="confirm-btn" class="form-control btn btn-success" >
<%end%>
</div>

<%if @booking.row_number.present? && @booking.seat_number.present?%>
<div class="alert alert-danger" style="font-size: 22px" role="alert">
Your seat already booked. You can't change it at the moment, Please contact support team for further help.</div>
<%end%>
<script>
  var NumberOfBooking = 1
  var selectedRow = null,selectedSeat=null

  $('input:checkbox').change(function(){
      if($(this).is(':checked')&&NumberOfBooking==1) {
        NumberOfBooking+=1;
        selectedRow = $(this).data('row');
        selectedSeat = $(this).data('seat')

        console.log($(this).data('row'))
        console.log($(this).data('seat'))
      } else if ($(this).is(':checked') && NumberOfBooking !=1){
        $(this).prop('checked', false)
      }
      else {
        $(this).prop('checked', true)
      }
  });

  $("#confirm-btn").click(function(){
    isConfirmed = confirm("Are you sure you want to confirm booking?")
    $.get(`/booking/confirm?pnr=<%=@booking.pnr%>&row=${selectedRow}&seat=${selectedSeat}`).then(x=>{
      $('.plane').html(`<div class="alert alert-primary" role="alert">
  Your seat has been booked successfuly.
</div>`)
    })
  })
</script>
